# Client Environment Variables

# Backend API URL (Set to your Render Backend URL in Production, e.g., https://ecommerce-api.onrender.com/api/v1)
VITE_API_URL=http://localhost:5000/api/v1

# Stripe Publishable Key
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key